.achievements {
  @include text-reset;
  border: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    border: 2px solid #e5e5e5;
    background-color: inherit;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;
  }
}

.achievements__legend {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 41px;
  width: 100%;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    width: 436px;
    padding: 0;
  }
}

.achievements__wrapper {
  width: $mobile-width;
  margin: 0 auto 19px auto;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.achievements__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;

    :nth-child(1) {
      order: 1;
    }

    :nth-child(2) {
      order: 4;
    }

    :nth-child(3) {
      order: 2;
    }

    :nth-child(4) {
      order: 5;
    }

    :nth-child(5) {
      order: 3;
    }

    :nth-child(6) {
      order: 6;
    }
  }
}

.achievements__item {
  margin: 41px 0 5px 59px;

  @media (min-width: $tablet-width) {
    margin: 47px 0 5px 117px;
  }

  @media (min-width: $desktop-width) {
    margin: 48px 0 0 0;
    width: 33%;
  }
}

.achievements__item-label {
  position: relative;
  font-size: 18px;
  line-height: 36px;


  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    left: -59px;
    top: -7px;

    @media (min-width: $tablet-width) {
      left: -59px;
      top: -6px;
    }
  }

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 109px;
  }
}

.achievements__item-checkbox {
  &:checked + .achievements__item-label::after {
    content: url("../img/check.svg");
    position: absolute;
    left: -50px;
    top: -5px;

    @media (min-width: $tablet-width) {
      left: -50px;
      top: -1px;
    }
  }
}
