.catalog-gallery__header {
  min-height: 236px;
  background-color: #283645;
  background-image: url("../img/back-mobile.jpg");
  background-position-y: top;
  background-size: cover;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    min-height: 439px;
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }
}

.catalog-gallery__header-title {
  @include text-reset;

  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 93px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 175px;
  }
}

.catalog-gallery__title {
  @include text-reset;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  padding: 44px 20px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 91px 47px 0 47px;
  }
}

.catalog-gallery__panorama {
  width: $mobile-width;
  margin: 50px auto 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 77px auto 0 auto;
  }
}

.catalog-gallery__panorama-photo {
  position: relative;
  display: block;

  &::after {
    position: absolute;
    content: "";
    width: 140px;
    height: 36px;
    background-image: url("../img/panorama-day.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 20px;

    @media (min-width: $tablet-width) {
      top: 57px;
    }
  }
}

.catalog-gallery__panorama-image {
  display: block;
}

.catalog-gallery__panorama-comment {
  display: flex;
  flex-direction: column;
  min-height: 146px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 22px 10px 24px 17px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: auto;
    padding: 27px 59px 25px 30px;
  }
}

.catalog-gallery__panorama-comment-user {
  @include text-reset;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.catalog-gallery__panorama-comment-timer {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.catalog-gallery__panorama-comment-text {
  @include text-reset;
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    order: 3;
    flex-grow: 1;
  }
}

.catalog-gallery__panorama-comment-likes {
  position: relative;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin-top: 16px;
  margin-left: 32px;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../img/like-heart.svg");
    background-repeat: no-repeat;
    left: -32px;

    @media (min-width: $tablet-width) {
      left: 105px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 2;
    margin: 3px 0 0 0;
  }
}

.catalog-gallery__list {
  list-style: none;
  padding: 0;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog-gallery__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.catalog-gallery__item-link {
  display: block;
}

.catalog-gallery__item-image {
  display: block;
}

.catalog-gallery__item-comment {
  display: flex;
  flex-direction: column;
  padding: 22px 10px 24px 17px;

  @media (min-width: $tablet-width) {
    min-height: 118px;
    padding: 27px 10px 10px 30px;
  }
}

.catalog-gallery__item-user {
  @include text-reset;
  font-size: 14px;
}

.catalog-gallery__item-timer {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.catalog-gallery__item-text {
  @include text-reset;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
}

.catalog-gallery__item-likes {
  position: relative;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  margin-top: 17px;
  margin-left: 31px;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../img/like-heart.svg");
    background-repeat: no-repeat;
    left: -31px;

    @media (min-width: $tablet-width) {
      left: 227px;
    }
  }

  @media (min-width: $tablet-width) {
    margin: auto 0 19px 0;
  }
}

.catalog-gallery__br-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog-gallery__panorama-br-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
