.find-us__wrapper {
  padding-top: 19px;
}

.find-us__offer {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    margin: 27px auto 0;
    line-height: 52px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    padding-top: 11px;
    line-height: 70px;
  }
}

.find-us__offer-answer,
.find-us__offer-question {
  @include text-reset;
}

.find-us__contacts-list {
  @include list-reset;
  display: grid;
  grid-template-rows: minmax(40px, auto) minmax(40px, auto) minmax(40px, auto);
  gap: 13px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0;
  }
}

.find-us__contacts-item:last-child {
  z-index: 3;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;

    .find-us__contacts-title {
      padding-top: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-row: 1/-1;
    grid-column: 2/3;

    .find-us__contacts-title {
      padding-top: 32px;
    }
  }
}

.find-us__contacts-title {
  font-size: 18px;
  line-height: 32px;
  padding-top: 5px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    line-height: 37px;
  }
}

.find-us__contacts-link {
  display: block;
  font-size: 24px;
  color: #d22856;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;

  &--mail:hover {
    color: #283645;
    text-decoration: revert;
  }

  &--mail:active {
    color: fade-out(#283645, 0.6);
    text-decoration: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 17px;
  }
}

.find-us__contacts {
  font-size: 24px;
  line-height: 31px;
  color: #d22856;
  font-weight: 300;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding-top: 16px;
  }
}

.find-us__map {
  position: relative;
  margin: 35px 0 0 0;
  width: 100%;
  height: 200px;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  z-index: 1;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    top: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 33px;
    background-image: url("../img/triangle.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    margin-top: 25px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }

    &::before {
      height: 69px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 502px;
    margin-top: 21px;
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }

    &::before {
      height: 131px;
    }
  }
}

.find-us__map-iframe {
  width: 100%;
  height: 100%;
}
