.page-footer {
  overflow: hidden;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 284px;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 127px;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
  }
}

.page-footer__logo {
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    margin-top: -15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
  }
}

.page-footer__social {
  @include list-reset;
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto 0 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 0 230px;
  }
}

.page-footer__social-item {
  margin-left: 4px;
  margin-right: 4px;

  @media (min-width: $desktop-width) {
    margin-left: 6px;
    margin-right: 0;
  }
}

.page-footer__social-ico {
  &:hover circle {
    opacity: 100%;
  }

  &:active,
  &:active circle {
    opacity: 30%;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  margin-top: 34px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 10px;
  }
}

.page-footer__copyright-text {
  font-size: 14px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.page-footer__copyright-ico {
  &:hover path {
    fill: #283645;
  }

  &:active path {
    fill-opacity: 30%;
  }
}

.page-footer__copyright-link {
  margin-left: 15px;
}

.page-footer__logo-img {
  display: none;

  &--tablet {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;

    &--desktop {
      display: inline;
    }
  }

  &:hover path {
    fill: #d22856;
  }

  &:active path:nth-child(-n+4) {
    fill: fade-out(#283645, 0.7);
  }
}
