.page-header {
  position: relative;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  background-color: #283645;
  width: 100%;
  margin-bottom: -66px;

  @media (min-width: $tablet-width) {
    margin-bottom: -110px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      background-color: $black-opacity30;
      justify-content: space-between;
    }
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 69px;

    @media (min-width: $tablet-width) {
      min-height: 110px;
    }
  }

  &__logo-mobile {
    margin-left: 20px;

    @media (min-width: $desktop-width) {
      margin-left: 130px;
    }
  }

  &__button-toggle {
    margin-right: 23px;

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
