.preview {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }

  &__wrapper {
    position: relative;
    padding: 95px 0 40px 310px;

    @media (min-width: $desktop-width) {
      padding: 159px 0 116px 380px;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/timer-tablet.svg");
      width: 238px;
      height: 276px;
      top: 53px;
      left: 0;

      @media (min-width: $desktop-width) {
        background-image: url("../img/timer-desktop.svg");
        width: 298px;
        height: 345px;
        top: 67px;
        left: 11px;
      }
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
  }

  &__text {
    @include text-reset;

    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
      margin-top: 22px;
    }
  }

  &__show-more {
    display: block;
    font-size: 14px;
    color: #d22856;
    text-decoration: underline;
    margin-top: 14px;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      margin-top: 36px;
    }
  }

  &__br-tablet {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__br-desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
    }
  }
}
