.raffle-form__rules {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 44px 20px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 91px;
  }
}

.raffle-form__rules span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.raffle-form__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    row-gap: 10px;
  }
}

.raffle-form__user-card {
  @include text-reset;
  border: 0;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    margin-top: 35px;
  }
}

.raffle-form__card-wrapper {
  width: $mobile-width;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 35px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
  }
}

.raffle-form__card-list {
  @include list-reset;
}

.raffle-form__card-item {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    margin-top: 33px;
    margin-bottom: 47px;
  }
}

.raffle-form__card-label {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
  margin-left: 23px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 19px;
  }
}

.raffle-form__card-input {
  width: 272px;
  height: 59px;
  margin-top: 3px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  &::placeholder {
    color: #283645;
    font-size: 18px;
    padding-left: 18px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    flex-grow: 1;
  }
}

.raffle-form__achievements {
  @include text-reset;
  border: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    grid-row: 4/5;
  }
}

.raffle-form__achievements-legend {
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  text-transform: uppercase;
  color: #d22856;
  padding-top: 41px;
  width: 100%;
  background-color: inherit;
}

.raffle-form__achievements-wrapper {
  width: $mobile-width;
  margin: 0 auto 19px auto;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;
}

.raffle-form__achievements-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.raffle-form__achievements-item {
  margin: 41px 0 5px 59px;
}

.raffle-form__achievements-label {
  position: relative;
  font-size: 18px;
  line-height: 36px;


  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    left: -59px;
    top: -7px;
  }
}

.raffle-form__achievements-checkbox {
  &:checked + .raffle-form__achievements-label::after {
    content: url("../img/check.svg");
    position: absolute;
    left: -50px;
    top: -5px;
  }
}

.raffle-form__user-contacts {
  @include text-reset;
  border: 0;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    border: 2px solid #e5e5e5;
    margin-top: 49px;
    padding-bottom: 33px;
  }
}

.raffle-form__contacts-legend {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    text-transform: uppercase;
    color: #d22856;
    width: 259px;
  }
}

.raffle-form__contacts-wrapper {
  width: $mobile-width;
  margin: 38px auto 19px auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.raffle-form__contacts-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raffle-form__contacts-item {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

.raffle-form__contacts-label {
  position: relative;
  align-self: baseline;
  font-size: 14px;
  text-transform: uppercase;
  color: #d22856;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 18px;
    margin-left: 19px;

    &::before {
      position: absolute;
      content: "";
      width: 59px;
      height: 59px;
      background-color: #e5e5e5;
      top: -79px;
      left: 420px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--phone::before {
      background-image: url("../img/phone-icon.svg");
    }

    &--mail::before {
      background-image: url("../img/mail-icon.svg");
    }
  }
}

.raffle-form__contacts-input {
  margin-top: 10px;
  height: 57px;
  width: 272px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

  &::placeholder {
    color: #283645;
    font-size: 18px;
    padding-left: 18px;
  }

  @media (min-width: $tablet-width) {
    width: 492px;
    margin-top: 35px;
  }
}

.raffle-form__travel-soft {
  @include text-reset;
  border: 0;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    margin-top: 1px;
    padding-bottom: 58px;
  }
}

.raffle-form__travel-legend {
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  width: 100%;
  background-color: inherit;
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: inherit;
    width: 369px;
  }
}

.raffle-form__travel-wrapper {
  width: $mobile-width;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  padding: 0 20px 20px 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

.raffle-form__travel-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.raffle-form__travel-item {
  margin-top: 33px;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    margin-top: 48px;
    margin-left: 119px;
  }
}

.raffle-form__travel-label {
  position: relative;
  font-size: 18px;
  line-height: 42px;

  @media (min-width: $tablet-width) {
    line-height: 28px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    left: -70px;
    top: -8px;

    @media (min-width: $tablet-width) {
      left: -61px;
    }
  }
}

.raffle-form__travel-radio {
  &:checked + .raffle-form__travel-label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d22856;
    left: -57px;
    top: 5px;

    @media (min-width: $tablet-width) {
      left: -48px;
      top: 6px;
    }
  }
}

.raffle-form__user-emotion {
  @include text-reset;
  border: 0;

  @media (min-width: $tablet-width) {
    grid-row: 5/6;
  }
}

.raffle-form__emotion-legend {
  padding-top: 39px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
}

.raffle-form__emotion-wrapper {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.raffle-form__emotion-area {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  margin-top: 16px;
  width: 272px;
  height: 193px;
  resize: none;

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: #283645;
    padding-top: 12px;
    padding-left: 18px;
  }
}

.raffle-form__buttons {
  @include text-reset;
  border: 0;

  @media (min-width: $tablet-width) {
    grid-row: -2/-1;
  }
}

.raffle-form__button-wrapper {
  width: $mobile-width;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 45px 30px 0 20px;
}

.raffle-form__button {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  width: 279px;
  height: 63px;
  background-color: #2aab6d;
  border: 0;
  border-radius: 3px;
}

.raffle-form__recommendation {
  font-size: 14px;
  text-transform: uppercase;
  margin: 41px 0 23px 49px;

  span {
    color: #d22856;
  }
}

.raffle-form__br-mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.raffle-form__br-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
