.raffle-form__rules {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 44px 20px 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding-top: 91px;
  }
}

.raffle-form__rules span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.raffle-form__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    width: $tablet-width;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    row-gap: 10px;
  }
}

.raffle-form__user-card {
  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    margin-top: 35px;
  }
}

.raffle-form__achievements {
  @media (min-width: $tablet-width) {
    grid-row: 4/5;
  }
}

.raffle-form__user-contacts {
  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    margin-top: 49px;
  }
}

.raffle-form__travel-soft {
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    margin-top: 1px;
  }
}

.raffle-form__user-emotion {
  @media (min-width: $tablet-width) {
    grid-row: 5/6;
  }
}

.raffle-form__buttons {
  @media (min-width: $tablet-width) {
    grid-row: -2/-1;
  }
}

.raffle-form__br-mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.raffle-form__br-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
