.reviews {
  &__wrapper {
    position: relative;
    text-align: center;
    align-items: center;
    padding-top: 41px;

    @media (min-width: $tablet-width) {
      padding-top: 68px;
    }
  }

  &__item {
    @include text-reset;
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 14px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      width: 700px;
      margin: 116px auto 0;

      &::before {
        position: absolute;
        top: -112px;
        left: 311px;
        content: "";
        display: block;
        width: 79px;
        height: 63px;
        background-image: url("../img/quotes.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__author {
    order: 0;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      order: 1;
      margin-top: 18px;
    }

    @media (min-width: $desktop-width) {
      font-size: 24px;
      margin-top: 36px;
    }
  }

  &__author-info {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      font-weight: 400;
      font-size: 14px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
      margin-top: 2px;
    }
  }

  &__arrow {
    @include text-reset;
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      position: absolute;
      width: 24px;
      height: 45px;
      background-color: transparent;
      top: 211px;
      border: none;

      &::after,
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 29px;
        height: 2px;
        background-color: fade-out(#283645, 0.7);
      }

      &:hover::after,
      &:hover::before {
        background-color: fade-out(#283645, 0.4);
      }

      &:active::after,
      &:active::before {
        background-color: fade-out(#283645, 0.9);
      }

      &::after {
        top: 31px;
        left: -3px;
      }

      &::before {
        top: 11px;
        left: -3px;
      }

      &--left {
        left: 10px;

        &::after {
          transform: rotate(45deg);
        }

        &::before {
          transform: rotate(-45deg);
        }
      }

      &--right {
        right: 10px;

        &::after {
          transform: rotate(-45deg);
        }

        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  &__toggles {
    @include text-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    min-height: 15px;

    @media (min-width: $tablet-width) {
      margin-top: 33px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
