@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("/source/fonts/opensanslight.woff2") format("woff2"),
    url("/source/fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/source/fonts/opensans.woff2") format("woff2"),
    url("/source/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/source/fonts/opensansbold.woff2") format("woff2"),
    url("/source/fonts/opensansbold.woff") format("woff");
}
