.download-attachment__preview {
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  width: 320px;
  min-height: 462px;
}

.download-attachment__slogan {
  font-size: 24px;
  font-weight: lighter;
  line-height: 120%;
  color: white;
}

.download-attachment__buttons {
  background-color: #1d2631;
}

.download-attachment__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: white;
  border: 3px solid white;
  border-radius: 40px;
  padding: 21px 38px;
}

.download-attachment__annotation {
  font-size: 14px;
  font-weight: lighter;
  color: white;
  line-height: 24px;
}
