.find-us__contacts-title {
  font-size: 18px;
}

.find-us__contacts-link {
  font-size: 24px;
  color: #d22856;
  font-weight: lighter;
}

.find-us__contacts {
  font-size: 24px;
  color: #d22856;
  font-weight: lighter;
}

.find-us__map {
  width: 320px;
  height: 200px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
}
