.price {
  background-color: #f2f2f2;
}

.price__table {
  border-collapse: collapse;
}

.price__data {
  border: 2px solid #e5e5e5;
}

.price__data--rubber {
  width: 280px;
  background-color: #283645;
}

.price__data--not-mobile {
  display: none;
}

.price__data--hidden {
  border: none;
  display: none;
}

.price__data-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
}

.price__data-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  @include margin-padding;
}

.price__data-cost {
  color: white;
  font-size: 18px;
  font-weight: lighter;
  line-height: 30px;
  @include margin-padding;
}
