.reviews__author {
  color: black;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  font-style: normal;
}

.reviews__author-info {
  display: none;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
}
