.page__body {
  position: relative;
  color: $brand-font-color;
  background-color: $brand-background-color;
  font-family: "Open Sans", "Arial Black", sans-serif;
  margin: 0 auto;
  padding: 0 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
